section.section.about 
    .container 
        .about-inner 
            .about-left 
                h2 Das sagen unsere 
                    span Gäste:
                .about-left__text-wrapper 
                    p.about-left__text “Auf Empfehlung da gewesen und es nicht bereut.Ein einzigartiges Restaurant mit einem aufmerksamen Personal und 1A Speisen und Getränken.”
                    .counts 
                        p Essen
                            span  5
                        p Service 
                            span  5
                        p Ambiente
                            span  5
                    a.google-link(href="#")   
                        img(src=require('@/images/icons/google.svg') alt='google')
                        img(src=require('@/images/icons/next.svg') alt='go')

                .about__videos 
                    h4.about__videos-text So wird es bei uns gefeiert

                    .about__videos-list.desktop
                        .about__videos-item 
                            img(src=require('@/images/video-img.jpg') alt='video-img')
                            .about__videos-item--hover 
                                img(src=require('@/images/icons/play-2.svg') alt='play')
                                p Video ansehen
                        .about__videos-item 
                            img(src=require('@/images/video-img.jpg') alt='video-img')
                            .about__videos-item--hover 
                                img(src=require('@/images/icons/play-2.svg') alt='play')
                                p Video ansehen
                        .about__videos-item 
                            img(src=require('@/images/video-img.jpg') alt='video-img')
                            .about__videos-item--hover 
                                img(src=require('@/images/icons/play-2.svg') alt='play')
                                p Video ansehen
                        .about__videos-item 
                            img(src=require('@/images/video-img.jpg') alt='video-img')
                            .about__videos-item--hover 
                                img(src=require('@/images/icons/play-2.svg') alt='play')
                                p Video ansehen

            .about-right
                img.about-right-quote(src=require('@/images/quote.svg') alt='quote')
                video(src="" poster=require('@/images/video-img.jpg')) 

.about__videos-slider.swiper 
    .swiper-wrapper 
         .swiper-slide 
             .about__videos-item 
                 img(src=require('@/images/video-img.jpg') alt='video-img')
                 .about__videos-item--hover 
                     img(src=require('@/images/icons/play-2.svg') alt='play')
                     p Video ansehen
         .swiper-slide
             .about__videos-item 
                 img(src=require('@/images/video-img.jpg') alt='video-img')
                 .about__videos-item--hover 
                     img(src=require('@/images/icons/play-2.svg') alt='play')
                     p Video ansehen
         .swiper-slide
             .about__videos-item 
                 img(src=require('@/images/video-img.jpg') alt='video-img')
                 .about__videos-item--hover 
                     img(src=require('@/images/icons/play-2.svg') alt='play')
                     p Video ansehen
         .swiper-slide
             .about__videos-item 
                 img(src=require('@/images/video-img.jpg') alt='video-img')
                 .about__videos-item--hover 
                     img(src=require('@/images/icons/play-2.svg') alt='play')
                     p Video ansehen