section.section.amkai-club-location
      .container.amkai-club-location__container
        h2.amkai-club-location__heading
          | Was kannst Du von unserer Location erwarten
        |         
        p.amkai-club-location__desc
          | Lorem Ipsum ist in der Industrie bereits der Standard Demo-Text seit 1500, als ein unbekannter Schriftsteller eine Hand voll Wörter nahm und diese durcheinander warf um ein Musterbuch zu erstellen.
        |
        

        ul.amkai-club-location__grid
          li.amkai-club-location__li
            .amkai-club-location__image-div
              img(src=require(`@/images/amkai-club-location/1.svg`), alt="building")
            |         
            h5.amkai-club-location__title Vielseitige Innen- und Außenbereiche
          |
          li.amkai-club-location__li
            .amkai-club-location__image-div
              img(src=require(`@/images/amkai-club-location/2.svg`), alt="qr")
            |         
            h5.amkai-club-location__title Flexible Raumgestaltung
          | 
          li.amkai-club-location__li
            .amkai-club-location__image-div
              img(src=require(`@/images/amkai-club-location/3.svg`), alt="disk")
            |         
            h5.amkai-club-location__title Hochwertige Ausstattung
          | 
          li.amkai-club-location__li
            .amkai-club-location__image-div
              img(src=require(`@/images/amkai-club-location/4.svg`), alt="happy-face")
            |         
            h5.amkai-club-location__title Professionelle Unterhaltungstechnik
          | 
          li.amkai-club-location__li
            .amkai-club-location__image-div
              img(src=require(`@/images/amkai-club-location/5.svg`), alt="route")
            |         
            h5.amkai-club-location__title In-House Catering
          | 
          li.amkai-club-location__li
            .amkai-club-location__image-div
              img(src=require(`@/images/amkai-club-location/6.svg`), alt="cube")
            |         
            h5.amkai-club-location__title Laserprojektion
          | 

        button.main-btn.amkai-club-location__button
          img(src=require("@/icons/3d-modeling.svg") alt="3d-modeling")
          |  Alle Highlights