section.section.reels 
    .container.reels__container
        .reels__content 
            h2.reels__content-title Reels 
            p.reels__content-desc Lorem Ipsum ist ein einfacher Demo-Text für die Print- und Schriftindustrie. Lorem Ipsum ist in der Industrie bereits der Standard Demo-Text seit 1500, als ein unbekannter Schriftsteller eine Hand voll Wörter nahm und diese durcheinander warf um ein Musterbuch zu erstellen. 
        .reels__gallery
            .reels__slider.swiper
                .swiper-wrapper
                    .swiper-slide
                        video.reels__video(src=require("@/videos/amkaivideo.mp4") controls muted controlslist='nodownload' playsinline poster=require('@/images/reels-placeholder.jpg'))
                        button.reels__video-playBtn
                            img(src=require('@/images/reels/play-btn.png'))
                    .swiper-slide
                        video.reels__video(src=require("@/videos/videoamkai.mp4") controls muted controlslist='nodownload' playsinline poster=require('@/images/reels-placeholder.jpg'))
                        button.reels__video-playBtn
                            img(src=require('@/images/reels/play-btn.png'))
                    .swiper-slide
                        video.reels__video(src=require("@/videos/amkaivideo.mp4") controls muted controlslist='nodownload' playsinline poster=require('@/images/reels-placeholder.jpg'))
                        button.reels__video-playBtn
                            img(src=require('@/images/reels/play-btn.png'))
                .slider-navigation.slider-navigation--reels
                    .slider-navigation--reels__btn.slider-navigation__prev
                        button
                            svg(width='24' height='24')
                            use(href='sprite.svg#arrow-prev_sprite')
                    .reels__numbers
                        span.reels__numbers--current 1
                        span &nbsp;/&nbsp;
                        span.reels__numbers--total 7
                    .slider-navigation--reels__btn.slider-navigation__next
                        button
                            svg(width='24' height='24')
                            use(href='sprite.svg#arrow-next_sprite')