-
  locals.menu = [
    {
      name:'Home', 
      link: `${htmlWebpackPlugin.options.path}/`, 
    },
    {
      name:'Vacancy', 
      link: `${htmlWebpackPlugin.options.path}/vacancy.html`,
      hasSub: [
        {
          name: 'Vacancy page',
          link: `${htmlWebpackPlugin.options.path}/vacancy-page.html`,
        }
      ]
    },
      {
      name:'Speisekarte', 
      link: `${htmlWebpackPlugin.options.path}/menu.html`, 
    },

 {
      name:'Eventlocation', 
      link: `${htmlWebpackPlugin.options.path}/eventlocation.html`, 
    },

  ]